################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FeesBook/FeesBook/obj
/FeesBook/.vs/FeesBook/v15
/FeesBook/FeesBook.ServiceHost/bin/Debug/netcoreapp2.1
/FeesBook/FeesBook.ServiceHost/obj
/FeesBook/FeesBook.ServiceHost/FeesBook.csproj.user
/FeesBook/.vs/FeesBook/DesignTimeBuild
/FeesBook/FeesBook.ServiceHost/FeesBook.ServiceHost.csproj.user
/FeesBook/FeesBook.DataAccess/bin/Debug/netcoreapp2.1
/FeesBook/FeesBook.DataAccess/obj/Debug/netcoreapp2.1
/FeesBook/FeesBook.DataAccess/obj
/FeesBook/FeesBook.DataService/bin/Debug/netcoreapp2.1
/FeesBook/FeesBook.DataService/obj
/FeesBook/FeesBook.Domain/bin/Debug/netcoreapp2.1
/FeesBook/FeesBook.Domain/obj
/FeesBook/.vs/config
