################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FeesBook/FeesBook/obj
/FeesBook/.vs/FeesBook/v15
